<mat-toolbar color="primary">
  <button mat-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Classroot Tech - About Us</span>
</mat-toolbar>

<section>
  <mat-card>
    <mat-card-content>
      <h1>We care a lot about computing, and we care a lot about equity. </h1>
      <p>That’s why we we created classroot, a web application to help teachers make their CS classrooms as inclusive as possible.</p>

      <p>Many efforts to strengthen the STEM pipeline exist — but none have focused on a simple but important factor: classroom
        environment. Research shows that stereotypically “tech-bro” classrooms make girls less likely to consider taking
        computer science classes. That’s why classroot provides an easy, encouraging way for teachers to assess their classrooms
        and curricular efforts toward inclusivity.</p>

      <p>We’re ready to grow — are you?</p>
    </mat-card-content>
  </mat-card>
</section>