<div fxLayout="row" fxLayoutAlign="center" *ngIf="!processing">
  <div fxFlex.xs="100" fxFlex.md="80" fxFlex.lg="60" class="mat-card-padding">
    <mat-card>
      <mat-card-content class="text-center">
        <img *ngIf="photo" [src]="photo" alt="User selected photo" class="full-img">
        <input #fileInput type="file" accept="image/*;capture=camera" (change)="selectPhoto($event)" class="hide">
        <h3 *ngIf="!photo">Let's work together! Upload a photo of your classroom or of any wall display in the room.</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [disabled]="processing" (click)="takePicture()">{{(photo)? 'RE':null}}SELECT PICTURE</button>
        <button mat-button [disabled]="processing" *ngIf="photo" (click)="submit()">SUBMIT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="!result && !result?.result && processing">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <svg width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"
      class="lds-rolling" style="background: none;">
      <circle cx="50" cy="50" fill="none" stroke="#689f38" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138"
        transform="rotate(174 50 50)">
        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s"
          begin="0s" repeatCount="indefinite"></animateTransform>
      </circle>
    </svg>
  </div>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <h3>Processing</h3>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" *ngIf="result && result?.result && processing">
  <div fxFlex.xs="100" fxFlex.md="80" fxFlex.lg="60" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Analysis</mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        <img [src]="photo" alt="User selected photo" class="full-img">
        <p *ngIf="result.result.gender" class="text-left">{{result.result.gender}}</p>
        <p *ngIf="result.result.ethnicity" class="text-left">{{result.result.ethnicity}}</p>
        <p *ngIf="result.result.comment" class="text-left">{{result.result.comment}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/', 'learn']">LEARN MORE</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
