<mat-toolbar color="primary">
  <button mat-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Classroot Tech - Resources</span>
</mat-toolbar>

<!-- Resources -->
<section fxLayout="column" fxLayout.gt-xs="row" fxLayoutWrap>
  <div fxFlex.gt-xs="50">
    <mat-card *ngFor="let item of (resources | async)">
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-content>{{item.content}}</mat-card-content>
    </mat-card>
  </div>
</section>

<!-- Companies -->
<section>
  <h1>Keep exploring with these companies</h1>
  <div *ngFor="let org of (organizations | async)">
    <img (click)="openLink(org.link)" [src]="org.imgurl" [alt]="org.altimg">
  </div>
</section>