<mat-toolbar color="primary">
  <span>Classroot Tech - Resources</span>
</mat-toolbar>

<section fxLayout="column" fxLayout.gt-xs="row" fxLayoutWrap>
  <div fxFlex.gt-xs="50">
    <mat-card *ngFor="let item of dummyResources">
      <mat-card-title>{{item.title}}</mat-card-title>
      <mat-card-content>{{item.content}}</mat-card-content>
    </mat-card>
  </div>
</section>

<!-- Learn More -->
<section>
  <h1>Learn more from these companays!!</h1>
  <!-- <div *ngFor="let org of organization">
    <img [href]="org.url" [src]="org.imgurl" [alt]="org.altimg"></img>
  </div> -->

</section>