.font-basic {
  font-family: 'Roboto', sans-serif;
}

.icon {
  width: 32px;
  height: 32px;
}

.logo {
  margin-top: 5px;
  height: 50px;  
  width: 178px;
}

.fill-nav {
  flex: 1 1 auto;
}

.full-img {
  margin: 0px 8px;
  width: calc(100% - 16px) !important;
}

.full-size {
  width: 100%;
}

.hide {
  display: none;
}

.mat-card-header-text {
  margin: 0px 0px !important;
}

.mat-card-padding {
  padding: 16px;
}

.mat-divider {
  border-top-width: 2px !important;
}

.mat-tab-labels {
  background-color: #ffffff;
}

.padding {
  padding: 16px;
}

.text-center {
  text-align: center;
}