.full-img {
  margin: 0px 8px;
  width: calc(100% - 16px) !important;
}

.full-size {
  width: 100%;
}

.hide {
  display: none;
}

.mat-card-padding {
  padding: 16px;
}

.mat-divider {
  border-top-width: 2px !important;
}

.mat-tab-labels {
  background-color: #ffffff;
}

.padding {
  padding: 16px;
}

.text-center {
  text-align: center;
}