.full-size {
    width: 100%;
  }
  
  .full-width {
    width: 100% !important;
  }
  
  .mat-card-padding {
    padding: 16px;
  }
  
  .mat-divider {
    border-top-width: 2px !important;
  }
  
  .mat-tab-labels {
    background-color: #ffffff;
  }
  
  .padding {
    padding: 16px;
  }
  
  .text-center {
    text-align: center;
  }