cr-home {
  mat-card.mat-card {
    padding: 0px;
    mat-card-header.mat-card-header {
      background-color: #DCEDC8;
      padding: 24px 16px;
      padding: 0 !important;
      transition: 0.33s ease-out;
      &:hover {
        background-color: #689F38;
        color: #ffffff;
        transition-timing-function: ease-in;
      }
      div.mat-card-header-text {
        text-align: center;
        width: 100%;
        mat-card-title {
          margin: 48px auto;
          text-align: center;
          font-size: 40px !important;
        }
      }
    }
    mat-card-content.mat-card-content {
      padding: 16px;
    }
  }
  p {
    font-size: 1.4em;
  }
}
