<mat-toolbar color="primary">
  <span>Classroot Tech</span>
  <span class="fill-nav"></span>
  <a mat-button [routerLink]="['/', 'about']">About</a>
</mat-toolbar>

<div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center">
  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.lg="33" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Analyze</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Upload a photo and get personalized suggestions to make your classroom more inclusive.</p>
        <p>You will need to answer a few quick questions (hope you're ready).</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/', 'analyze']">ANALYZE CLASSROOM</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.lg="33" class="mat-card-padding">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Learn</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Learn more about classroom inclusivity and how teachers pioneer solutions to the CS gender gap.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/', 'resources']">LEARN MORE</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
